# Testing
temp.py
notes.txt
testing/*
purge_list.txt
statisticized*
purge_list.txt
test*
mass_tag.txt

# Data
data/*
views/*
combined/*
tables/*
metadata/*

# Python bytecode
__pycache__

# Config
cfg/*
cfg/login.txt

# Virtual environments
venv/
